* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
}

nav{
  position: fixed;
}

a{
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

#mund{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg{
  height: 100vh;
}


#speiseroehre{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: tomato;
}

#magen{
  height: 100vh;
  background: #C92828;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cls-1{
  padding: 100px;
  background: blue;
}


#12darm{
  height: 100vh;
  background: #C92828;
  display: flex;
  align-items: center;
  justify-content: center;
}

#duenndarm{
  height: 100vh;
  background: #C92828;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dickdarm{
  height: 100vh;
  background: #C92828;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mastdarm{
  height: 100vh;
  background: #C92828;
  display: flex;
  align-items: center;
  justify-content: center;
}
