* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  position: relative;
  max-height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
}

img{
  width: 50vw;
  height: auto;
  padding:0;
  border:none;
}

nav{
  position: fixed;
}

a{
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}


.svg{
  height: 100vh;
}

.section{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mund{
  background: antiquewhite;

}

#speiseroehre{
  background: tomato;
}

#magen{
  background: #C92828;
}

#zwoelfdarm{
  background: #C92828;
}

#duenndarm{
  background: #C92828;
}

#dickdarm{
  background: #C92828;
}

#mastdarm{
  background: #C92828;
}
