* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    max-height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
}

img {
    width: 50vw;
    margin-bottom: -6px;
}

.main__header {
    position: relative;
}

.main__nav {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.main__nav__item {
    list-style-type: none;
}

.main__nav__link {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 5px;
    transition: all 0.125s ease-in-out;
    border-radius: 1rem;
}

.main__nav__link:hover {
    background: rgb(95, 89, 81);
    color: white;
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll_wrapper{
  width: 100%;
  height: 100%;
}

.scroll{
  position: fixed;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#mund {
    background: antiquewhite;
}

#speiseroehre {
    background: tomato;
}

#magen {
  background: tomato;
}

#darm {
  background: tomato;
}

#darm {
  background: tomato;
}

#mastdarm {
  background: tomato;
}
