* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    line-height: 1.6;
    background: #000;
}

.verlauf {
    width: 100%;
    height: 2000px;
    margin-top: -50px;
    background: linear-gradient(to bottom, #47afba, black);
    position: absolute;
    z-index: -100;
}

.submarine {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: 100;
}

.fish {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    animation: fish 7s infinite alternate;
}

.wenden {
  transform: scaleX(-1);
}


@keyframes fish {
    0% {
        top: 0px;
        left: 0px;
    }
    50% {
        top: 200px;
        left: 200px;
    }
    100% {
        top: 200px;
        left: 400px;
    }
}

/* VON HIER NEU */

.octopus {
  margin-top: 1000px;
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 100;
    animation: octopus 7s infinite alternate;
}

@keyframes octopus {
    0% {
        top: 0px;
        left: 100px;
    }
    50% {
        top: 0px;
        left: 400px;
    }
    100% {
        top: 0px;
        left: 500px;
    }
}

.tentakel1 {
  fill: none;
  stroke: #CC8166;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.flosse1 {
  fill: #CC8166;
}

.tentakel2 {
  transform: translate(50px, -30px);
  fill: none;
  stroke: #BF7862;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.flosse2 {
  fill: #BF7862;
}
.kopf {
  fill: #DB9679;
}
.auge {
  fill: #D9E6DF;
}
.pupille {
  fill: #023C40;
}
.kappe {
  fill: #CC8A72;
}
.arm {
  fill: none;
  stroke: #DB9679;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* BIS HIER NEU */

.scroll {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.pfeil {
  margin: 0 auto;
  animation: pfeilbouncing 0.5s ease-in infinite alternate;
}

@keyframes pfeilbouncing {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0px);
  }
}

.wellen {
    width: 100%;
}

.content {
    max-width: 100%;
    margin: 0 auto;
    float: left;
}

.content-text {
    font-size: 30px;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content-wale {
    margin: 840px 0px 0px 0px;
    padding: 0px 0px 0px 250px;
    position: absolute;
    width: 100%
}

.content-wale-background {
    margin: 1018px 0px 0px 0px;
    padding: 0px 0px 0px 200px;
    position: absolute;
    background: #1630c4;
    opacity: 0.3;
    width: 100%;
    height: 50px;
}

.content-sunlight {
    margin: 1910px 0px 0px 0px;
    padding: 0px 0px 0px 250px;
    position: absolute;
    width: 100%
}

.content-sunlight-background {
    margin: 2040px 0px 0px 0px;
    padding: 0px 0px 0px 200px;
    position: absolute;
    background: blue;
    opacity: 0.2;
    width: 100%;
    height: 50px;
}

.content-canyon {
    margin: 3545px 0px 0px 0px;
    padding: 0px 0px 0px 250px;
    position: absolute;
    width: 100%
}

.content-canyon-background {
    margin: 3670px 0px 0px 0px;
    padding: 0px 0px 0px 200px;
    position: absolute;
    background: blue;
    opacity: 0.2;
    width: 100%;
    height: 50px;
}

.content-titanic {
    margin: 7410px 0px 0px 0px;
    padding: 0px 0px 0px 250px;
    position: absolute;
    width: 100%
}

.content-titanic-background {
    margin: 7547px 0px 0px 0px;
    padding: 0px 0px 0px 200px;
    position: absolute;
    background: blue;
    opacity: 0.2;
    width: 100%;
    height: 50px;
}

.content-everest {
    margin: 17820px 0px 0px 0px;
    padding: 0px 0px 0px 250px;
    position: absolute;
    width: 100%
}

.content-everest-background {
    margin: 17950px 0px 0px 0px;
    padding: 0px 0px 0px 200px;
    position: absolute;
    background: blue;
    opacity: 0.2;
    width: 100%;
    height: 50px;
}

.content-mariana {
    margin: 22300px 0px 0px 0px;
    padding: 0px 0px 0px 250px;
    position: absolute;
    width: 100%
}

.content-mariana-background {
    margin: 22440px 0px 0px 0px;
    padding: 0px 0px 0px 200px;
    position: absolute;
    background: blue;
    opacity: 0.2;
    width: 100%;
    height: 50px;
}

.meter {
    width: 20px;
    color: white;
    padding-top: 75px;
    z-index: 100;
}

.meter p {
    margin-top: -115px;
    padding: 0 0 0 20px;
    position: absolute;
    font-weight: 700;
}

.meter hr {
    margin: 0px 0px 100px 0px;
    border: solid white 1px;
    width: 7px;
}

#meter_100 {
    margin: 0px 0px 100px 0px;
    border: solid white 1px;
    width: 14px;
}
